################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/.vs/
NucleusLabs/bin/
/NucleusLabs/obj/
/NucleusLabs/bin/
NucleusLabs/obj/
